@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;600&family=Nunito+Sans:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  min-width: fit-content;
}

body {

  font-family: 'Nunito Sans', sans-serif;
  background-color: #EAE8ED;
}



.main-img {
  visibility: hidden;
}

/* /////////////////////////////////// texts and headings///////////////////////////////////  */
.heading {
  color: #500966;
  font-size: calc(1.2rem + 1.5vmin);
  letter-spacing: 3px;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 0;
  font-weight: bold;
  font-family: 'Mukta', sans-serif;
}

.heading-light {
  color: #FFFFFF;
  font-size: calc(1rem + 1.5vmin);
  letter-spacing: 3px;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 0;
  font-weight: bold;
}

p {
  font-weight: 400;
  font-size: calc(1rem + 0.4vmin);
  line-height: 1.9;
  margin-bottom: 0;
  text-align: justify;
}


.small-p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 0;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Mukta', sans-serif;
  margin-bottom: 0;
}

h3 {
  font-size: calc(1.2rem + 0.5vw);
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #1a1a16;
  margin-bottom: 0;
}

h4 {
  font-size: calc(1rem + 0.5vmin);
  line-height: 1.8rem;
}

h6{
  font-size: 1.2rem;
}

a {
  color: #1a1a16;
  text-decoration: none;
  text-align: center;
  font-family: 'Mukta', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

a:hover {
  text-decoration: none;
  color: #1a1a16;
}

.bordered-list li {
  list-style: none;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.bordered-list li:not(:last-child) {
  border-bottom: 1px solid white;
}

.services-link {
  color: #500966;
  text-decoration: underline;
  text-align: center;
  font-size: 1.1rem;
}

#contact-links>h5,
#contact-links>a {
  text-align: left;
}

.heading-border {
  border: 1px solid #bcdadd;
  background-color: #bcdadd;
  box-shadow: 0px 0px 3px #bcdadd;
}

#contact-links {
  font-size: calc(.9rem + 0.4vw);
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 0;
  text-transform: capitalize;
}

/* /////////////////////////////////// Navbar///////////////////////////////////  */
#navigation {
  background-color: white;
  box-shadow: 0px 0px 8px #440e4471;
}

.navbar-nav {
  list-style-type: none;
  font-size: calc(0.4rem + 0.4vmin);
  letter-spacing: 3px;
  list-style-type: none;
  font-family: 'Mukta', sans-serif;
  font-weight: 400;
}

.navbar-nav a {
  font-size: 1.2rem;
}

.navbar-nav li {
  display: inline-block;
  text-transform: uppercase;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.navbar-nav li .nav-link:hover,
.active {
  color: #21072a;
  text-shadow: 0 1px 0px #21072a;
}

.navbar-nav li:not(:last-child) {
  border-right: 1px solid #500966;
}

.nav-link {
  color: #500966;
}



/* /////////////////////////////////// Backgrounds///////////////////////////////////  */

.join-team-bg {
  background-color: whitesmoke;
}

.box-shadow {
  box-shadow: 0px 0px 6px #92659271;
}

.team-box {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 1px 1px 8px rgba(255, 255, 255, 0.6);
}

.contact-info {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 1px 1px 8px #ffffff;
}

.news-col {
  background-color: #AF70C2;
  box-shadow: 1px 1px 8px #AF70C2;
}

.contact-bg {
  background-image: url(images/contact-bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #AF70C2;
  border-radius: 9px;
}

.contact-bg hr {
  border-color: #AF70C2;
}


.card-footer{
  background-color: #fff;
}
/* /////////////////////////////////// containers///////////////////////////////////  */

.container {
  padding-left: 0;
  padding-right: 0;
  perspective: 50rem;
  -webkit-perspective: 50rem;
  -moz-perspective: 50rem;
  -moz-perspective: 50rem;

}

.col-lg-4,
.row {
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;

}

.col-12,
.col-lg-9,
.col-lg-5,
.col-md-5 {
  padding-left: 0;
  padding-right: 0;

}

.welcome-txt{
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 1px 1px 8px #ffffff;
  
}

#map {
  height: 23em;
  width: 100%;
}

.team-img {
  padding-bottom: 1.5rem;
}


.list-group{
  width: 100%;
}

.card {
  border: none;
}


.stats-bg{
  background-color: #AF70C2;
  padding: 1.5rem;
}
/* /////////////////////////////////// flip cards///////////////////////////////////  */

/* the method has been learned from this article "https://www.smashingmagazine.com/2020/02/magic-flip-cards-common-sizing-problem/" */

:root {
  --time: 0.707s;
}

.cards {
  display: grid;
  -webkit-perspective: 40rem;
  -o-perspective: 40rem;
  -moz-perspective: 40rem;
  perspective: 40rem;
}

.card-flip {
  perspective: 40rem;
  -webkit-perspective: 40rem;
  -o-perspective: 40rem;
  -moz-perspective: 40rem;
}

.card-body-flip {
  display: flex;
  transform-style: preserve-3d;
  transition: var(--time) transform;
  -webkit-transition: var(--time) transform;
  -o-transition: var(--time) transform;
  -moz-transition: var(--time) transform;
  -webkit-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  max-width: 100%;
}

.card-flip.flipped .card-body-flip {
  transform: rotateX(-180deg);
  -webkit-transform: rotateX(-180deg);
  -o-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
}

.card-front,
.card-back {
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  min-width: 100%;
  background-color:#fff;
}

.card-back {
  transform: rotateX(-180deg) translate(-100%, 0);
  transform: rotateX(-180deg) translate(-100%, 0);
  -moz-transform: rotateX(180deg) translate(-100%, 0);
  -webkit-transform: rotateX(180deg) translate(-100%, 0);
  -o-transform: rotateX(180deg) translate(-100%, 0);
  background-color: #BCDADD;

}

.cards {
  grid-gap: 1.5rem;
  grid-auto-rows: 1fr;
  padding: 0 1.5rem;
  background: whitesmoke;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.card-flip {
  display: flex;
  transition: z-index, transform calc(2s / 4);
  transition-delay: var(--time), 0s;
  transition: z-index, transform calc(2s / 4);
  -webkit-transition: z-index, transform calc(2s / 4);
  -o-transition: z-index, transform calc(2s / 4);
  -moz-transition: z-index, transform calc(2s / 4);
  transition-delay: var(--time), 0s;
  -webkit-transition-delay: var(--time), 0s;
  -o-transition-delay: var(--time), 0s;
  -moz-transition-delay: var(--time), 0s;
  text-decoration: none;
  color: inherit;
  z-index: 0;
}

.card-body-flip {
  border-radius: 0.25rem;
  flex: 1;
}

.card-front,
.card-back {
  @extend .shadow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 0.25rem;
}

.card-front {
  font-size: 1.1rem;
}

.shadow {
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.04),
    0 2px 2px rgba(0, 0, 0, 0.04),
    0 4px 4px rgba(0, 0, 0, 0.04),
    0 8px 8px rgba(0, 0, 0, 0.04),
    0 16px 16px rgba(0, 0, 0, 0.04);
}

/* /////////////////////////////////// buttons ///////////////////////////////////  */

#myBtn {
  
  display: none;
  position: fixed;
  bottom: 3.5em;
  right: 0;
  z-index: 999;
  font-size: 1.2em;
  border: none;
  outline: none;
  background-color: rgb(80, 9, 102);
  color: white;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 30%;
  
}

#myBtn:hover {
  background-color: rgba(80, 9, 102, .7);
}

.team-content {
  position: relative;
}

.btn-team {
  position: absolute;
  bottom: 0;
}

.btn:focus,
.btn:hover {
  border: none;
  outline: none;
}

.btn-info {
  background-color: #bcdadd;
  border: none;
  color: black;
  font-weight: 500;
}

.btn-info:hover,
.btn-info:focus {
  background-color: #62a9af;
  border: none;
}

.green-btn {
  background-color: #B3D1BB;
  border: none;
  color: black;
}

.green-btn:hover,
.green-btn:focus {
  background-color: #80B38D;
  border: none;
  color: black;
}

.submit-contact-form-btn {
  background-color: #dda7ee;
  color: #fff;
  border: none;
}

.submit-contact-form-btn:hover,
.submit-contact-form-btn:focus {
  background-color: #AF70C2;
  color: #fff;
  border: none;
}

/* /////////////////////////////////// forms ///////////////////////////////////  */

.cv-bg {

  background-image: url(images/job-interview.png);
  background-size: cover;
  background-position: center;
}

.job-apply-form {
  color: #fff;
  background-color: rgba(75, 56, 97, 0.7);
  padding: 30px;
  border-radius: .25rem;
}

.modal-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 500px;
  z-index: 1050;
}

.modal-header {
  background-color: #c38be2;
}

.modal-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 500px;
  z-index: 1050;
}

/* /////////////////////////////////// footer ///////////////////////////////////  */
footer {
  background-color: white;
  box-shadow: 0px 0px 9px #440e4471;
  text-align: center;
  padding: 1rem 0;
}

/* /////////////////////////////////// iPad design///////////////////////////////////  */
@media screen and (max-width: 991px) {
  .navbar-nav li:not(:last-child) {
    border-bottom: 1.5px dotted black;
    border-right: none;
  }

  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .navbar-nav li {
    padding: 0.7rem;
    width: 95%;
    margin: 1px;
  }

  .btn-team {
    position: static;
  }

  .services-link{
    margin-bottom: 1rem;
  }

  p {
    font-size: calc(1rem + 0.7vmin);
  }

  h3 {
    font-size: calc(1.2rem + 1.2vmin);
  }

  .team-content {
    text-align: center;
  }

  #contact-links, #contact-links h5{
    text-align: center;
  }

  .job-apply-form {
    width: 90%;
    height: 100%;
    padding: 1rem;
  }

  .modal-1 {
    min-width: 80%;
  }
  
  .modal-2 {
    min-width: 80%;
  }

  .cards {
    display: block;
    grid-gap: 0;
    padding: 1rem;
  }

  .card-body-flip {
    padding: 0;
  }

  .cards>.card-flip:first-child {
    margin-bottom: 1rem;
  }

}

/* /////////////////////////////////// mobile design ///////////////////////////////////  */
@media screen and (max-width: 576px) {

  body {
    max-width: 100vw;
 
  }

/* This rule has been set to fix the conflict between flipping cards on mobile view and displaying back-to-top button on scroll
 If the perspective property was given to the body element, the back-to-top button would have not get the fixed position but the absolute position and, on the other hand if the perspective property was not given to 
 the body element, the cards would not flip on click on mobile view. */


  .job-body{
    perspective: 40rem;
    -webkit-perspective: 40rem;
  }


  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

  }

  .btn-team {
    position: static;
  }

  p {
    font-size: 1rem;
  }

  .contact-info h3, .contact-info h5, .contact-info a {
    text-align: center;
  }

  .list-group h5{
    font-size: 1rem;
  }

  .list-group-item {
    padding: 0.75rem .5rem;
  }

  .navbar-toggler {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .team-img {
    padding-bottom: 1rem;
  }

  .modal-dialog {
    margin: 0;
  }

  #myBtn {
    bottom: 5em;
    right: 0;
    z-index: 99;
    font-size: 1em;
  }
}



